<html>
	<head>
	<style>
body {
	margin: 0;
	padding: 0;
}
#error {
	color: #f00;
}
#device_id, #screen_id, #url {
	font-weight: bold;
}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="/static/jquery.cookie.js" type="text/javascript"></script>
	<script>
function autoHeight() {
	var browserHeight = $(window).height();
	var dashHeight = $("#dash").height();
	var contentHeight = browserHeight - dashHeight;
	$("#content").height(contentHeight);
}

function listenBroadcast() {
	$.get('/screens/' + SCREEN_ID, '',
		function(msg) {
			if (msg.result == 'ok') {
				$('#url').html(JSON.parse(msg.data).url);
				$('#content').attr('src', JSON.parse(msg.data).url);
				listenBroadcast();
			} else if (msg.result == 'resubscribe') {
				listenBroadcast();
			} else {
				$('#error').html("Error: " + msg.result);
			}
		}, 'json')
		.error(function() {
			$('#error').html('An ajax error occurred.');
		});
		
}

function onGotScreenId() {
	$('#screen_id').html(SCREEN_ID);
	listenBroadcast();
}

function getScreenId() {
	// registers this device
	$.post('/screens/', 'device_id=' + DEVICE_ID,
		function(msg) { // callback
			if (msg.screen_id) {
				SCREEN_ID = msg.screen_id;
				$.cookie("screen_id", SCREEN_ID);
				onGotScreenId();
			} else {
				$('#error').html("Error: " + String(msg));
			}
		}, 'json')
		.error(function() {
			$('#error').html('An ajax error occurred.');
		});
}

$(function() {
	DEVICE_ID = $.cookie("device_id");
	if (!DEVICE_ID) {
		DEVICE_ID = Math.floor(Math.random() * 100000000) + 1;
		$.cookie("device_id", DEVICE_ID);
	}
	$('#device_id').html(DEVICE_ID);

	SCREEN_ID = $.cookie("screen_id");
	if (SCREEN_ID) {
		onGotScreenId();
	} else {
		getScreenId();
	}

	autoHeight();
});

function genKeyEvent(type, char) {
	var pressEvent = document.createEvent('KeyboardEvent');
	pressEvent.initKeyEvent(type, true, true, null, 
				false, false, false, false, 
				0, char);
	return pressEvent;
}

function pressChar(char)
{
	try {
		var c = char.charCodeAt(0);
		$('#error').html("Key: " + c);
		var element = $('#content')[0].contentWindow.document.activeElement;
		element.dispatchEvent(genKeyEvent("keypress", c));
	} catch (e) {
		alert("Your browser does not support this example!");
	}
}

function callTest() {
	setTimeout(function(){
		pressChar('s');
		pressChar('\t');
	}, 3000);
}
	</script>
	</head>
	<body>
	<div id=dash>
		<b>Screen</b>
		<div>Device ID: <span id=device_id>Unknown</span></div>
		<div>Screen ID: <span id=screen_id>Unknown</span></div>
		<div>Dropcast URL: <span id=url>[None]</span></div>
		<div id=error></div>
		<div><a href="javascript:void(0)" onclick="callTest()">Test simulated keyboard event</a></div>
	</div>
	<iframe id=content src="/static/test.html" style="width:100%;"></iframe>
	</body>
</html>

