<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="/static/jquery.cookie.js" type="text/javascript"></script>
	<!-- include Cycle plugin -->
	<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
	<script>

	function onError(msg) {
		$('body').css('background-color', '#fdd');
		$('#error').html(msg);
	//$('#dash').show();
	}

	function hackFrameBusting() {
		//$("#content")[0].contentDocument.designMode = "on";
	}

	function autoHeight() {
		var browserHeight = $(window).height();
		var dashHeight = $("#dash").height();
		var contentHeight = browserHeight - dashHeight;
		$("#content_div").height(contentHeight);
	}

	var lastCastTimer = null;
	var lastCastUrl = null;

	function onIframeFail() {
		onError("Iframe failed to load.");
		//window.open(lastCastUrl);
	}

	function onIframeLoad(){
		if (lastCastTimer)
			clearTimeout(lastCastTimer);
		$('body').css('background-color', '#fff');
		$("#content_div").scrollTop(0);
		//$('#dash').slideUp();
	}

	var prevent_bust = 0
	window.onbeforeunload = function() { prevent_bust++ }
	setInterval(function() {
		if (prevent_bust > 0) {
			prevent_bust -= 2
			window.top.location = '/204/'
		}
	}, 1)

	var reconnectFails = 0;

	function reconnect() {
		$('#error').html('');
		$('body').css('background-color', '#fff');
		listenBroadcast();
	}

	var SLIDESHOW_OPTIONS = {
		fx: 'none',
		pause: 1,
		timeout: 0,
		delay:  0,
		prev: '#prev',
		next: '#next',
		after: function() {
			$('#url').html(this.src);
		}
	};
	var IMG_RX = /^https?:\/\/(?:[a-z\-]+\.)+[a-z]{2,6}(?:\/[^\/#?]+)+\.(?:jpe?g|gif|png)(?:\?.*)?$/i;

	function listenBroadcast() {
		$.get('/screens/' + SCREEN_ID, '',
			function(msg) {
				reconnectFails = 0;
				if (msg.result == 'ok') {
					$('#error').html('');
					//alert(msg.data);
					var data = JSON.parse(msg.data);
					if (data.type == 'url') {
						lastCastUrl = data.url;
						if (IMG_RX.test(lastCastUrl)) {
							$('.slideshow').show();
							$('#img_tools').show();
							$('#content').hide();
							$('.slideshow').prepend('<img src="' + lastCastUrl + '">');
							$('.slideshow').cycle(SLIDESHOW_OPTIONS);
							$('.slideshow').cycle('pause');
							$("#content_div").scrollTop(0);
						} else {
							$('.slideshow').hide();
							$('#img_tools').hide();
							$('#content').show();
							$('#content').attr('src', lastCastUrl);
						}
						$('#url').html(lastCastUrl);
						$('body').css("background-color","#ddf");
						if (lastCastTimer)
							clearTimeout(lastCastTimer);
						//lastCastTimer = setTimeout(onIframeFail, 10000);
					} else if (data.type == 'vscroll') {
						scrollIframe(data.value);
					} else if (data.type == 'slide') {
						if (data.value == 'n')
							$('.slideshow').cycle('prev');
						else if (data.value == 'p')
							$('.slideshow').cycle('next');
					}
					listenBroadcast();
					
				} else if (msg.result == 'resubscribe') {
					listenBroadcast();
				} else {
					onError("Ajax error: " + msg.result);
				}
			}, 'json')
	.error(function() {
		var secs = Math.pow(2, Math.min(reconnectFails, 6));
		++reconnectFails;
		onError('Ajax error: Connection failed. Reconnecting in ' + secs + ' seconds (attempt #' + reconnectFails + ')...');
		setTimeout(reconnect, secs * 1000);
	});

	}

	function onGotScreenId() {
		$('#screen_id').html(SCREEN_ID);
		listenBroadcast();
	}

	function getScreenId() {
		// registers this device

		$.ajax({
			type: "POST",
			url: '/screens/',
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify({ device_id: DEVICE_ID,
				device_name: 'device_' + DEVICE_ID }),
			dataType: "json",
		success: function(msg) { // callback
			if (msg.screen_id) {
				SCREEN_ID = msg.screen_id;
				$.cookie("screen_id", SCREEN_ID);
				onGotScreenId();
			} else {
				onError("Ajax error: " + String(msg));
			}
		},
		error: function() {
			onError('Ajax error: Connection failed.');
		}
	});
	/*	$.post('/screens/', "{'device_id':"+ DEVICE_ID
					+ ", 'device_name': 'device_" + DEVICE_ID + "'}",
			function(msg) { // callback
				if (msg.screen_id) {
					SCREEN_ID = msg.screen_id;
					$.cookie("screen_id", SCREEN_ID);
					onGotScreenId();
				} else {
					onError("Ajax error: " + String(msg));
				}
			}, 'json')
			.error(function() {
				onError('Ajax error: Connection failed.');
			});*/
	}

	$(function() {
		DEVICE_ID = $.cookie("device_id");
		if (!DEVICE_ID) {
			DEVICE_ID = Math.floor(Math.random() * 100000000) + 1;
			$.cookie("device_id", DEVICE_ID);
		}
		$('#device_id').html(DEVICE_ID);

		SCREEN_ID = $.cookie("screen_id");
		if (SCREEN_ID) {
			onGotScreenId();
		} else {
			getScreenId();
		}

		autoHeight();
		$('#content').load(onIframeLoad);
		hackFrameBusting();
		$('.slideshow').cycle(SLIDESHOW_OPTIONS);
		$('.slideshow').cycle('pause');
	});

	function genKeyEvent(type, char) {
		var pressEvent = document.createEvent('KeyboardEvent');
		pressEvent.initKeyEvent(type, true, true, null, 
			false, false, false, false, 
			0, char);
		return pressEvent;
	}

	function pressChar(char)
	{
		try {
			var c = char.charCodeAt(0);
			$('#error').html("You pressed: code=" + c + " char=" + char);
			var element = $('#content')[0].contentWindow.document.activeElement;
			element.dispatchEvent(genKeyEvent("keypress", c));
		} catch (e) {
			alert("Your browser does not support this example!");
		}
	}

	function testKey() {
		setTimeout(function(){
			pressChar('s');
			pressChar('\t');
		}, 3000);
	}

	function scrollIframe(percent) {
		var div = $("#content_div");
		div.animate({scrollTop: div.scrollTop() + percent * div.height()}, 200);
	}
</script>

	<style>
		.slideshow {
			width: 100%;
			background-color: #000;
			display: none;
		}
		.slideshow img {
			margin: 0 auto;
			padding: 15px;
			border: 1px solid #ccc;
			background-color: #eee;
		}

		body {
			margin: 0;
			padding: 0;
		}

		#error {
			color: #f00;
		}
		#device_id, #screen_id, #url {
			font-weight: bold;
		}
		#container {
			margin: 15px auto;
			width: 1024px;
		}
		#content-div {
			border: 2px solid #8c8c8c;
			border-radius: 18px;
			overflow: hidden;
		}
		#cheeky {
		    height: 54px;
		    overflow: hidden;
		    margin-left: -31px;
		}
		h1 {
			margin: 0px;
		}
		body {
		    font-family: sans-serif;
			background: #cccccf;
			color: #333;
		}
		#logo {
			display: inline-block;
		}
		#header {
			width: 1024px;
		}
		.dbrc-info {
		    display: inline-block; 
		    float: right;
		}
		.info {
			padding: 5px;
		}
	</style>
</head>
		<!--table id=dash width=100% style="border-bottom: 1px solid #000;">
			<tr>
				<td nowrap align=left>
					<a href="javascript:void(0)" onclick="testKey()">Test sim key</a> 
					| 
					<a href="javascript:void(0)" onclick="scrollIframe(0.5)">Test sim down</a> 
					|
					<a href="javascript:void(0)" onclick="scrollIframe(-0.5)">Test sim up</a> 
					<span style="display:none" id=img_tools>
						| 
						<a id="next" href="javascript:void(0)">Prev</a> 
						| 
						<a id="prev" href="javascript:void(0)">Next</a>
					</span> 
					| 
					Dropcast URL: 
					<span id=url>[None]</span>
				</td>
				<td nowrap align=right>Device ID: 
					<span id=device_id>Unknown</span> 
					Screen ID: <span id=screen_id>Unknown</span>
				</td>
			</tr>
			<tr><td id=error></td></tr>
		</table-->

<body style="width:100%">
	<div id='container'>
		<div id="header">
			<div id="logo">
				<div id="cheeky"><img src="http://openiconlibrary.sourceforge.net/gallery2/open_icon_library-full/icons/png/128x128/others/animals-giraffe.png">
				</div>
				<h1>DBRC Screen</h1>
			</div>
			<div class="dbrc-info">
				<div>
					<div class="info">
						<span class="info-label">Screen ID:</span>
						<span id="screen_id">[Unknown]</span>
					</div>
					<div class="info">
						<span class="info-label">Dropcast URL:</span>
						<span id="url">[None]</span>
					</div>
				</div>
			</div>
		</div>

		<div id="content-div">
			<div class="slideshow"></div>
			<iframe id=content src="/static/test.html" style="width:100%; height: 2300px; border: 0" scrolling="no"></iframe>
		</div>
	</div>
</body>
</html>
